/byzantine-eventual.aux
/byzantine-eventual.bbl
/byzantine-eventual.blg
/byzantine-eventual.log
/byzantine-eventual.out
/byzantine-eventual.pdf
/byzantine-eventual.vtc
/comment.cut
/evaluation/node_modules
