/bec-crdts.aux
/bec-crdts.bbl
/bec-crdts.blg
/bec-crdts.log
/bec-crdts.out
/bec-crdts.pdf
/byzantine-eventual.aux
/byzantine-eventual.bbl
/byzantine-eventual.blg
/byzantine-eventual.log
/byzantine-eventual.out
/byzantine-eventual.pdf
/byzantine-eventual.vtc
/comment.cut
/evaluation/node_modules
